[project]
	description = Saleae Logic Dshot (ESC protocol) Plugin
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Michael Corcoran (tracernz)
[access "refs/for/refs/*"]
	read = group user/Michael Corcoran (tracernz)
	push = group user/Michael Corcoran (tracernz)
	label-Code-Review = -2..+2 group user/Michael Corcoran (tracernz)
	label-Verified = -1..+1 group user/Michael Corcoran (tracernz)
	rebase = group user/Michael Corcoran (tracernz)
	removeReviewer = group user/Michael Corcoran (tracernz)
	submit = group user/Michael Corcoran (tracernz)
[access "refs/heads/*"]
	read = group user/Michael Corcoran (tracernz)
	create = group user/Michael Corcoran (tracernz)
	push = +force group user/Michael Corcoran (tracernz)
	pushMerge = group user/Michael Corcoran (tracernz)
[access "refs/tags/*"]
	push = group user/Michael Corcoran (tracernz)
	push = +force group user/Michael Corcoran (tracernz)
